h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}


html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .main-header {
        .navVisible {
            left: 0;
        }

    }

}

@media screen and (max-width: 460px) {}