@use "/src/sass/libs/modern-normalize.min.css";

// Шрифты
@use "/src/sass/libs/fonts.css";

// Переменные
@use "/src/sass/base/variables.scss";

// Базовые стили
@use "/src/sass/base/basic.scss";
@use "/src/sass/base/mixines.scss";

// Блоки
@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/title.scss";
@use "/src/sass/blocks/button.scss";
@use "/src/sass/blocks/sidepanel.scss";