@use "/src/sass/libs/modern-normalize.min.css";

// Шрифты
@use "/src/sass/libs/fonts.css";

// Переменные
@use "/src/sass/base/variables.scss";

// Базовые стили
@use "/src/sass/base/basic.scss";

// Блоки
@use "/src/sass/blocks/main-header.scss";
@use "/src/sass/blocks/main-nav.scss";
@use "/src/sass/blocks/about.scss";