@use "/src/sass/base/variables.scss" as *;

.main-nav {
    font-weight: 700;
    margin: 0 auto;
    // width: 70%;

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        column-gap: 20px;
    }

    a {
        text-decoration: none;
        color: $black;
    }
}

@media screen and (max-width: 768px) {
    .main-nav {
        width: 100%;
        position: absolute;
        left: -1000px;
        top: 0px;
        background-color: $white;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;

        &__close {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 5px;

            &::before {
                content: "";
                display: block;
                width: 30px;
                height: 1px;
                background-color: $black;
                position: absolute;
                bottom: 13px;
                left: 0;
                transform: rotate(50deg);
            }

            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 1px;
                background-color: $black;
                position: absolute;
                top: 16px;
                left: 0;
                transform: rotate(-50deg);
            }
        }

        &__list {
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
    }
}