@use "/src/sass/base/variables.scss" as *;

.main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 15px 9px -2px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    font-size: 18px;
    background-color: $background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__logo {
        width: 110px;
        height: 70px;
    }

    &__open-nav {
        display: none;
    }

    &__phone {
        text-decoration: none;
        color: $black;
        font-weight: 700;
    }
}

@media screen and (max-width: 1300px) {
    .main-header {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .main-header {
        &__wrapper {
            justify-content: space-between;
        }

        &__open-nav-button {
            display: block;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            position: relative;

            span {
                display: block;
                width: 45px;
                height: 1px;
                background-color: $black;
                position: absolute;
                left: 12px;
                top: 22px;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: $black;
                    width: 45px;
                    height: 1px;
                    top: 13px;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: $black;
                    width: 45px;
                    height: 1px;
                    top: 25px;
                }
            }
        }

        &__phone {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 460px) {
    .main-header {
        padding-top: 10px;
        padding-bottom: 10px;

        &__wrapper {
            display: grid;
            grid-template-areas:
                "logo openNav"
                "phone openNav"
        }

        &__logo {
            grid-area: logo;
            margin: 0 auto;
        }

        &__phone {
            grid-area: phone;
            margin-top: 10px;
        }

        &__open-nav-button {
            grid-area: openNav;
        }
    }
}